<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container"> 
        <form  action="/submit_form1" id="contact-form" method="POST" >
            Name:<br>
           <input type="text" id="name" name="namecontact" ><br>
            E-mail:<br>
           <input type="email" name="mailcontact" id="mail"><br>
           Comment:<br>
           <input type="text" name="commentcontact" id="commentcontact" size="50"><br><br>
           <button type="submit" id="submitBtn"  >Submit</button>
        </form>
    </div> 
</body>
</html>
